<!--Hero Srction-->
<section class="hero" id="hero">
    <div class="container hero-container">
        <h1 class="title">Hello, I am <br> <span class="highlight">Fullstack Developer</span></h1>
        <div class="order-btn-wrap">
            <a href="/" class="order-btn">
                <svg class="icon-arrow-hero" width="28" height="16">
                <use href="../img/symbol-defs.svg#icon-arrow"></use>
            </svg>Order the project</a>
            <div class="order-btn-block"></div>
        </div>
        <p class="description">
            I work with people all over the world to create
            <span class="highlight">impressive</span> and
            <span class="highlight">functional</span> websites
            that reflect each client’s unique personality.
        </p>
    </div>

    <!--Social Links-->
    <div class="social-links-bg">
    <div class="container">
    <div class="social-links">
        <a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">LinkedIn</a>
        <a href="https://github.com/Andrej89Ko/command-project-portfolio" target="_blank">GitHub</a>
    </div>
    </div>
    </div>
</section>