<!--Hero Section-->
<section class="" id="hero">
    <div class="hero hero-container">
        <h1 class="title">Hello, I am <img class="hero-image" srcset="./img/hero-bg/hero-img@1x.jpg 1x, ./img/hero-bg/hero-img@2x.jpg 2x"
            src="./img/hero-bg/hero-img@1x.jpg" alt="Hero Photo" /><br>
<span class="highlight">Fullstack Developer</span></h1>
         <div class="hero-footer">
         <div class="order-btn-wrap">
            <a href="#work-together" class="order-btn">
                <svg class="icon-arrow-hero" width="28" height="16">
                <use href="../img/symbol-defs.svg#icon-arrow"></use>
            </svg>Order the project</a>
            <div class="order-btn-block"></div>
        </div>
        <p class="description">
            I work with people all over the world to create
            <span class="highlight">impressive</span> and
            <span class="highlight">functional</span> websites
            that reflect each client’s unique personality.
        </p>
    </div>
    </div>

    <!--Social Links-->
    <div class="social-links-bg">
    <div class="container">
    <ul class="social-links">
        <li><a href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/school/goit-start-your-career-in-it" target="_blank">LinkedIn</a></li>
        <li><a href="https://github.com/Andrej89Ko/command-project-portfolio" target="_blank">GitHub</a></li>
    </ul>
    </div>
    </div>
</section>