<section class="myProject" id="projects" data-theme="light">
    <div class="container project-container" data-theme="light">
        <h2 data-theme="light" class="titleMain"><span class="mainNotice">my</span> <span
                class="noticeSpan">projects</span></h2>
        <div class="projectFWrap" data-theme="light">
            <ul class="wrapContent" data-theme="light">
                <li class="wrapContentItem">
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="./img/imgProjects/imgForDekstop/img.png 1x, ./img/imgProjects/imgForDekstop/img2xD.png 2x"
                            alt="walletW">
                        <source media="(min-width: 768px)"
                            srcset="./img/imgProjects/imgForTablet/img.png 1x , ./img/imgProjects/imgForTablet/img2xT.png 2x"
                            alt="walletW">
                        <source media="(min-width: 321px)"
                            srcset="./img/imgProjects/imgForMobile/img.png 1x, ./img/imgProjects/imgForMobile/img2xM.png 2x"
                            alt="walletW">
                        <img src="./img/imgProjects/imgForDekstop/img.png" alt="walletW">
                    </picture>
                    <p class="projectTextTech">react, java script, node js, git</p>
                    <div data-theme="light" class="wrapBtnText">
                        <p class="projectTextTitle">wallet webservice</p>
                        <a type="button" target="_blank" rel="nofollow"
                            href="https://www.w3schools.com/html/default.asp" class="projectBtnVisit ">visit<svg
                                class="arrSvg" height="24" width="24">
                                <use href="./img/arrow.svg#icon-iconarrow"></use>
                            </svg></a>
                    </div>
                </li>
                <li class="wrapContentItem">
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="./img/imgProjects/imgForDekstop/img-1.png 1x, ./img/imgProjects/imgForDekstop/img2xD-1.png 2x"
                            alt="service mobile">
                        <source media="(min-width: 768px)"
                            srcset="./img/imgProjects/imgForTablet/img-1.png 1x, ./img/imgProjects/imgForTablet/img2xT-1.png 2x"
                            alt="service mobile">
                        <source media="(min-width: 321px)"
                            srcset="./img/imgProjects/imgForMobile/img-1.png 1x, ./img/imgProjects/imgForMobile/img2xM-1.png 2x"
                            alt="walletW">
                        <img src="./img/imgProjects/imgForDekstop/img-1.png" alt="service mobile">
                    </picture>
                    <p class="projectTextTech">react, java script, node js, git</p>
                    <div class="wrapBtnText" data-theme="light">
                        <p class="projectTextTitle">green harvest webservice</p>
                        <a type="button" target="_blank" rel="nofollow" href="https://www.w3schools.com/css/default.asp"
                            class="projectBtnVisit ">visit<svg class="arrSvg" height="24" width="24">
                                <use href="./img/arrow.svg#icon-iconarrow"></use>
                            </svg></a>
                    </div>
                </li>
                <li class="wrapContentItem">
                    <picture>
                        <source media="(min-width: 1180px)"
                            srcset="./img/imgProjects/imgForDekstop/img-2.png 1x, ./img/imgProjects/imgForDekstop/img2xD-2.png 2x"
                            alt="foodservice">
                        <source media="(min-width: 768px)"
                            srcset="./img/imgProjects/imgForTablet/img-2.png 1x, ./img/imgProjects/imgForTablet/img2xT-2.png 2x"
                            alt="foodservice">
                        <source media="(min-width: 321px)"
                            srcset="./img/imgProjects/imgForMobile/img-2.png 1x, ./img/imgProjects/imgForMobile/img2xM-2.png 2x"
                            alt="walletW" alt="foodservice">
                        <img src="./img/imgProjects/imgForDekstop/img-2.png" alt="foodservice">
                    </picture>
                    <p class="projectTextTech">react, java script, node js, git</p>
                    <div class="wrapBtnText" data-theme="light">
                        <p class="projectTextTitle">english exellence webservice</p>
                        <a type="button" target="_blank" rel="nofollow" href="https://www.w3schools.com/js/default.asp"
                            class="projectBtnVisit">visit<svg class="arrSvg" height="24" width="24">
                                <use href="./img/arrow.svg#icon-iconarrow"></use>
                            </svg></a>
                    </div>
                </li>
            </ul>
            <div class="LoadImg" data-theme="light"></div>
            <button class="projectBtnLoad">load more
            </button>
        </div>

    </div>
</section>