[data-theme='light'] {
  --color-title-first: var(--color-black);
  --color-title-second: var(--color-accet-green);

  --color-social-links-bg: var(--color-light-gray);
  --color-hero-accent: var(--color-light-accet);
  --color-hero-text: var(--color-black);
}

[data-theme='dark'] {
  --color-title-first: var(--color-white);
  --color-title-second: var(--color-accet-green-dt);

  --color-social-links-bg: var(--color-charcoal-dt);
  --color-hero-accent: #009156;
  --color-hero-text: var(--color-white);
}

.hero-section {
  padding-top: 112px;
  padding-bottom: 80px;
}

.hero-section {
  background-repeat: no-repeat;
  background-position: center 27px;
  background-size: 320px 704px;
  background-image: url('../img/hero-bg/mob-1x.png');
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: url('../img/hero-bg/mob-2x.png');
  }
}

.hero-title {
  font-family: Impact;
  font-size: 64px;
  font-weight: 400;
  line-height: 125%;
  color: var(--color-title-first);
  margin-bottom: 40px;
  text-transform: uppercase;
}

.hero-image {
  display: none;
}

.order-btn-wrap {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon-arrow-hero {
  fill: var(--color-title-second);
  margin-right: 12px;
}

.order-btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hero-text);
  z-index: 1;
  position: relative;
}

.order-btn-block {
  border-radius: 16px;
  width: 165px;
  height: 92px;
  position: absolute;
  right: 0%;
  top: 0%;
  transition: background-color 0.1s ease;
  background-color: var(--color-hero-accent);
}

.order-btn-wrap:hover .order-btn-block {
  background-color: var(--color-title-second);
}

.order-btn:focus ~ .order-btn-block {
  background-color: var(--color-title-second);
}

.highlight {
  color: var(--color-title-second);
}

.hero-section .description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

[data-theme='dark'] .description {
  color: var(--white);
}

.social-links-bg {
  background: var(--color-social-links-bg);
}

.social-links {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 72px;
}

.social-links a {
  color: var(--color-hero-text);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  transition: color 0.1s ease;
}

.social-links a:hover,
.social-links a:focus {
  color: var(--color-title-second);
}

.hero-footer {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 88px;
    padding-bottom: 124px;
    background-size: 704px 945px;
    background-position: center 16px;
    background-image: url('../img/hero-bg/tabl-1x.png');
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url('../img/hero-bg/tabl-2x.png');
    }
  }

  .hero-title {
    font-size: 136px;
    margin-bottom: 60px;
  }

  .order-btn-wrap {
    width: 416px;
  }

  .order-btn {
    font-size: 20px;
    line-height: 160%;
    letter-spacing: 0.03em;
  }

  .order-btn-block {
    width: 261px;
    height: 96px;
  }

  .hero-section .description {
    font-size: 20px;
    line-height: 1.6;
  }

  .social-links {
    margin-top: 80px;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 184px;
    padding-bottom: 164px;
    background-size: 1300px 772px;
    background-position: top 50%;
    background-image: url('../img/hero-bg/desc-1x.png');
  }
  .hero-container {
    width: 1280px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: url('../img/hero-bg/desc-2x.png');
    }
  }

  .hero-footer {
    flex-direction: row;
    column-gap: 136px;
  }

  .order-btn-wrap {
    width: 0;
    min-width: 416px;
  }

  .hero-title {
    font-size: 136px;
    line-height: 115%;
    letter-spacing: 0.01em;
    margin-bottom: 80px;
  }

  .hero-image {
    display: inline-block;
    width: 108px;
    height: 108px;
    border-radius: 16px;
    object-fit: cover;
  }

  .social-links {
    margin-top: 132px;
    flex-direction: row;
    align-items: center;
  }
}
