/* * {
  box-sizing: border-box;
} */

.projectContainer picture,
.projectContainer img {
  width: 100%;
}

.titleMain {
  font-family: 'Impact', sans-serif;
  text-align: center;
}
img {
  object-fit: cover;
  height: 100%;
}

.arrSvg {
  width: 14.5px;
  height: 14.5px;
  stroke: #00b068;
}

[data-theme='dark'] .arrSvg {
  stroke: #14c57c;
}

.myProject[data-theme='light'] {
  background-color: #f0f0f0;
}
.myProject[data-theme='dark'] {
  background-color: #1e2023;
}

.myProject img,
.myProject picture {
  border-radius: 20px;
}
.siteLoad {
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.loadText {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

[data-theme='dark'] .loadText {
  color: #f0f0f0;
}

.mainNotice {
  text-transform: uppercase;
  margin: 0 0 40px;
  max-width: 291px;
  line-height: 64px;
  letter-spacing: 1.8px;
}
.noticeSpan {
  color: #00b068;
  text-transform: uppercase;
  line-height: 64px;
  letter-spacing: 1.8px;
  margin-bottom: 40px;
}
[data-theme='dark'] .mainNotice {
  color: #f0f0f0;
}
[data-theme='dark'] .noticeSpan {
  color: #14c57c;
}

.projectTextTech {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.projectTextTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

[data-theme='dark'] .projectTextTitle {
  color: #f0f0f0;
}

[data-theme='dark'] .projectTextTech {
  color: #f0f0f0;
}

.projectBtnVisit {
  display: flex;
  background-color: #e4e5e6;
  column-gap: 12px;
  border-radius: 5px;
  align-items: center;
  max-width: 125px;
  padding: 12px 24px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  cursor: pointer;
}

[data-theme='dark'] .projectBtnVisit {
  background-color: #2a2d32;
  color: #f0f0f0;
}

.projectBtnVisit:hover {
  background-color: #bbbbbb;
}

[data-theme='dark'] .projectBtnVisit:hover {
  background-color: #3b3f45;
}
.projectBtnLoad {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5px;
  padding: 0 24px 12px 24px;
  font-weight: 400;
  border: none;
  background: none;
  color: #000;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
}

[data-theme='dark'] .projectBtnLoad {
  color: #f0f0f0;
}

.projectBtnLoad::after {
  content: '';
  position: absolute;
  left: 7.5%;
  bottom: 0;
  width: 112px;
  height: 2px;
  margin: 10px;
  background-color: #00b068;
}
.projectBtnLoad:hover {
  color: #00b068;
  transition: color 2 ease-in;
}

[data-theme='dark'] .projectBtnLoad:hover {
  color: #14c57c;
}
.LoadImg {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  row-gap: 15px;
  column-gap: 15px;
}
.wrapLoadImg:not(:last-child) {
  margin-bottom: 20px;
}
/* .wrapCarcass {
  flex-wrap: wrap;
}
.carcassItem {
  list-style-type: none;
}
.carcassItem:not(:last-child) {
  margin-bottom: 15px;
} */
/* media q  */

.titleMain {
  margin-bottom: 40px;
}
.projectTextTech {
  font-size: 16px;
  margin-bottom: 16px;
  margin-top: 12px;
  line-height: 24px;
}
.projectTextTitle {
  line-height: 40px;
  font-size: 36px;
}
.mainNotice {
  font-size: 52px;
}
.noticeSpan {
  font-size: 52px;
}
.wrapBtnText {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}

.wrapContentItem {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .wrapBtnText {
    row-gap: 16px;
  }
}

@media (min-width: 768px) {
  .wrapContentItem {
    margin-bottom: 60px;
  }
  .wrapContent {
    display: block;
  }
  .titleMain {
    margin-bottom: 60px;
  }
  .mainNotice {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 1.8px;
  }
  .noticeSpan {
    font-weight: 400;
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 1.8px;
  }
  .projectTextTech {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .wrapBtnText {
    margin: 0;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .projectTextTitle {
    margin-bottom: 0;
    line-height: 48px;
  }
  .wrapCarcass {
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .projectContainer {
    padding: 0 136px;
  }
  .wrapContentItem {
    margin-bottom: 80px;
  }
  .titleMain {
    margin-bottom: 80px;
  }
  .projectTextTitle {
    line-height: 48px;
  }
}
